<!DOCTYPE HTML>

<html>
    <head>
        <title>Blag</title>
    </head>
    
    <body>
        <div>
            <h1><a href="">Gannon's Blag</a></h1>
        </div>
        
        <div>
            <p>published: 7.1.2016, 2:28</p>
            <h2><a href-"">Babby's first blog post</a></h2>
            <p>Wow!  Look at this text here!  It's right on the page and you can read it and everything!  Amazing.</p>
        </div>
        
        <div>
            <p>published: 7.1.2016, 2:29</p>
            <h2><a href="">Wow, another post...?!?!</a></h2>
            <p>No way!  He made a SECOND post somehow?!?!! Magic.</p>
        </div>
    </body>
</html>